@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *
@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint'

.header
	top: 0
	left: 0
	width: 100%
	height: 70px
	position: fixed
	z-index: $index_large
	@include breakpoint($screen_large)
		position: static
	.container
		// background-color: $white
		@include breakpoint($screen_large)
			// position: fixed
			// top: 0px
			// left: calc(100% - 99%)
		.content-header
			padding-top: 10px
			width: 100%
			height:100%
			display: flex
			flex-wrap: nowrap
			flex-direction: row
			justify-content: space-between
			@include breakpoint($screen_large)
				width: 100%
				position: relative
			.logo
				width: 25%
				height: 50px
				line-height: 50px
				text-transform: uppercase	
				a
					font-size: 20pt
					color: $orange
					font-weight: $weight_extral_bold
			.btn-bars
				width: 50px
				height: 50px
				display: none
				cursor: pointer
				background-color: red
				align-items: center
				justify-content: center
				@include breakpoint($screen_large)
					display: block
					img 
						background-color: $white
			.nav
				gap: 15px
				width: 70%
				display: flex
				align-items: center
				flex-direction: row
				justify-content: flex-end
				@include breakpoint($screen_large)
					right: 0
					top: -420px
					width: 100%
					display: block
					height: 350px
					position: absolute
					z-index: $index_xsmall
					flex-direction: column
					background-color: $white
					justify-content: flex-start
					transition: top 0.5s ease-in, z-index 1s 0.7s ease-in
				a
					
					@include breakpoint($screen_large)
						text-align: left
						line-height: 40px		
			.active
				top: 70px
				z-index: $index_small
				background-color: $orange !important
				transition: top 0.5s ease-in, z-index 1s 0.7s ease-in
.main
	width: 600%
	display: flex
	overflow: hidden
	flex-wrap: nowrap
	justify-content: flex-start							