@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *
@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint'

.header
	width: 100%
	height: 70px
	position: fixed
	z-index: $index_large
	.content-header
		padding-top: 10px
		width: 100%
		height:100%
		display: flex
		flex-wrap: nowrap
		flex-direction: row
		justify-content: space-between
		@include breakpoint($screen_large)
			position: relative
		.logo
			width: 25%
			height: 50px
			line-height: 50px
			text-transform: uppercase	
			a
				font-size: 20pt
				color: $orange
				font-weight: $weight_extral_bold
		.btn-menu
			width: 50px
			height: 50px
			display: none
			cursor: pointer
			// border: 1px solid $orange
			align-items: center
			justify-content: center
			@include breakpoint($screen_large)
				display: block
				ion-icon
					font-size: 35px
					color: $white
		.nav
			width: 70%
			display: flex
			align-items: center
			flex-direction: row
			text-transform: uppercase
			justify-content: flex-end
			@include breakpoint($screen_large)
				right: 0
				top: 70px
				width: 100%
				display: none
				height: 350px
				position: absolute
				z-index: $index_large
				flex-direction: column
				background-color: $white
				justify-content: flex-start
			a
				color: $white
				cursor: pointer
				font-size: 11pt
				text-align: left
				padding: 10px 15px
				transition: all 1s color
				&:hover
					color: $orange
					transition: all 1s color
				@include breakpoint($screen_large)
					text-align: left
					line-height: 40px
			.a-active
				position: relative
				&::after
					top: 80%
					left: calc( 50% - 30% )
					content: ''
					width: 60%
					height: 2px
					position: absolute
					background-color: $orange		
		.active-menu
			display: flex
.main
	width: 500%
	display: flex
	overflow: hidden
	flex-wrap: nowrap
	justify-content: flex-start							