@use '../abstracts/variables'as * 
@use '../abstracts/mixins'as * 
@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint'

.blog
    width: 20%
    height: 100vh
    // overflow-y: scroll
    z-index: $index-small
    @include background_image('bg-blog.webp')
    &::after
        top: 0
        left: 300%
        right: 0
        bottom: 0
        content: ''
        width: 100%
        height: 100vh
        position: absolute
        z-index: $index-xsmall
        background: rgba(0, 0, 0, 0.6)
    .content-blog 
        width: 100%
        display: grid
        height: 100vh
        padding: 80px 0px 10px 0px
        grid-gap: 13px
        grid-template-columns: repeat(10, 1fr)
        grid-template-rows: repeat(6, 12.6vh)
        aside,
        article 
            width: 100%
            height: 100%
            display: flex
            padding: 10px
            cursor: pointer
            position: relative
            overflow: initial
            @include round(5px)
            transition: 0.5s ease-in-out
            justify-content: space-between
            background: rgba(255, 255, 255, .7)
            box-shadow: 7px 6px 12px 0px rgba(0, 0, 0, .8) 
            &:hover
                background-color: $white
                figure
                    div
                        top: -40px
                        transition: 0.5s ease-in-out 
                .date-blog
                    color: $orange 
                    transition: 0.5s ease-in-out 
                .icon-link
                    a
                        color: #999
                        transition: 0.5s ease-in-out            
            figure
                height: 100%   
                overflow: initial 
                @include box(7.5, transparent, 0, 0px)
                padding: 0px
                margin-left: 0px
                div
                    top: 0px
                    width: 100%
                    height: 180px
                    position: relative
                    background: $white
                    transition: 0.5s ease-in-out
                    box-shadow: 8px 8px 50px 0px rgba(0, 0, 0, .7)
                figcaption
                    top: -44px
                    position: relative
                    ul
                        width: 100%
                        display: flex
                        align-items: center
                        justify-content: space-between
                        li
                            width: 50%
                        .date-blog
                            width: 70%
                            display: flex
                            color: $blue_light
                            flex-direction: column
                            align-items: flex-start
                            text-transform: capitalize
                            transition: 0.5s ease-in-out 
                            h5
                                top: -19pt
                                left: 10px
                                font-size: 60pt
                                position: relative
                                font-weight: $weight_bold    
                            h6
                                left: 10px
                                top: -45px
                                font-size: 14pt
                                position: relative
                                font-weight: $weight_extral_bold
                        .icon-link
                            width: 100%
                            ul
                                top: 2px
                                gap: 10px
                                height: 68px
                                width: 100%
                                display: flex
                                position: relative 
                                justify-content: flex-end
                                li
                                    width: 25px
                                    a
                                        display: flex
                                        align-items: center
                                        justify-content: center
                                        color: $orange 
                                        transition: 0.5s ease-in-out 
                                        ion-icon      
                                            font-size: 19pt
            .content
                @include box(4.5, transparent, 0, 10px)
                padding: 0px
                margin-right: 0px
                header
                    h1
                        font-size: 16pt
                        color: $orange
                        margin-top: 0px
                        font-weight: $weight_extral_bold
                    figure
                        width: 80%
                        height: 30px
                        padding: 5px
                        display: flex
                        margin: 10px 0px
                        align-items: center
                        @include round(20px)
                        justify-content: flex-start
                        background-color: $blue_light
                        img
                            @include round_content(20px, true)
                        figcaption
                            top: 0
                            margin-left: 5px 
                            p
                                font-size: 9pt
                                color: $white
                                text-transform: capitalize   
                div
                    p
                        font-size: 9pt
                        text-align: justify
                        padding-right: 5px
                        font-weight: $weight_regular
        .article-1
            grid-area: 1 / 1 / 4 / 5
        .article-2
            grid-area: 1 / 5 / 4 / 9  
        .article-3
            grid-area: 4 / 1 / 7 / 5 
        .aside-3
            padding: 0px
            grid-area: 1 / 9 / 5 / 11
            .container-profile
                width: 100%
                height: 100%
                display: flex
                align-items: center
                flex-direction: column 
                justify-content: space-between
                &:hover
                    header,
                    .content-profile
                        background: $orange
                        transition: background 0.5s ease-in-out
                        figure
                            background: $white
                            transition: background 0.5s ease-in-out
                        .about-blog
                            color: $blue_dark    
                    footer
                        background: $blue_dark
                        transition: background 0.5s ease-in-out
                        span
                            color: $white
                header
                    width: 100%
                    display: flex
                    align-items: center
                    flex-direction: column
                    justify-content: center    
                    // background: $blue_dark             
                    padding: 20px 0px 0px 0px
                    text-transform: capitalize
                    transition: background 0.5s ease-in-out
                    @include round_ex(5px, 5px, 0, 0)
                    figure
                        display: flex
                        align-items: center
                        background: #d7a15a
                        justify-content: center
                        @include round_content(110px, true)
                        transition: background 0.5s ease-in
                        img
                            @include round_content(100px, true)
                    .name
                        color: $white
                        font-size: 12pt
                        padding-top: 10px
                    .about-blog
                        color: $orange
                        font-size: 10pt        
                .content-profile
                    gap: 10px
                    width: 100%
                    height: 120px
                    display: flex
                    align-items: center
                    flex-direction: column
                    // background: $blue_dark  
                    justify-content: flex-start
                    transition: background 0.5s ease-in-out
                    .link-social
                        gap: 10px
                        display: flex
                        margin-top: 10px
                        a
                            display: flex
                            color: $white
                            align-items: center
                            justify-content: center
                            ion-icon
                                font-size: 17pt
                    .btn_phanda
                        font-size: 0.7em  
                        &:hover
                            padding: 13px 25px        
                footer
                    width: 100%
                    height: 80px
                    display: flex
                    // background: $white
                    align-items: center
                    justify-content: center
                    @include round_ex(0, 0, 5px, 5px)
                    transition: background 0.5s ease-in-out
                    ul
                        gap: 10px
                        display: flex
                        align-items: center
                        justify-content: space-between 
                        li
                            width: 33.3%
                            text-align: center
                            text-transform: capitalize
                            span
                                color: $blue_dark
                                font-size: 20pt
                            p
                                color: $orange
                                font-size: 8pt               
                                padding-top: -10px
        .aside-5
            grid-area: 4 / 5 / 7 / 7
        .aside-6
            padding: 0px
            grid-area: 4 / 7 / 6 / 9
            figure
                width: 100%
                height: 100%
                @include round(5px)
                img
                    @include round(5px)
        .aside-7
            text-align: center
            position: relative
            background: $blue_dark
            grid-area: 6 / 7 / 7 / 9
            &:hover
                background: $blue_dark
            .clock,
            .calendar    
                top: 0
                left: 0
                width: 100%
                height: 50px
                position: absolute
                span
                    font-size: 25pt
                    color: $blue_light
                    font-weight: $weight_bold
                #s 
                    font-size: 15pt  
                .ponto
                    animation: fadeIn 1s infinite
                    @keyframes fadeIn
                        0%
                            opacity: 1
                        50%
                            opacity: 0.3    
                        100%
                            opacity: 1     
            .calendar
                gap: 6px
                right: 0    
                top: 32px
                bottom: 0px
                display: flex
                align-items: center
                justify-content: center
                span 
                    font-size: 10pt 	
                    color: #faf
                    font-weight: $weight_medium    
                #w
                    color: #00ffe7
                    text-transform: uppercase
                    font-weight: $weight_light
        .aside-8
            grid-area: 5 / 9 / 6 / 11                             